<div class="row">
  <div class="col-md-4"><h1>Add New Size</h1></div>
  <div class="col-lg-5" id="alert"></div>
</div>

<div class="row">
  <div class="form-group">
    <div class="col-md-2">
      <input type="text" class="form-control" id="inputSize">
    </div>

    <div class="col-md-2">
      <button class="btn btn-primary"  id="btnAdd">Add Size</button>
    </div>
  </div>
</div>

<div class="row">
  <table class="table table-hover" id="sizeTable">
    <thead>
    <tr>
      <th>Size Id</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    });

    function retrieveMenu(){
      $.ajax({
        type: 'GET',
        url : '/size/index',
        data: {},
        success: function(data){
          console.log(data);
          var d = data.file_content;
          $('#sizeTable > tbody').empty();
          if(d!=null){
            for(var i=0;i<d.length;i++){
              var temp = '<td>'+d[i]['id']+'</td><td>'+d[i]['name']+'</td>'
              $('#sizeTable >tbody').append('<tr id=data'+d[i]['id']+'>'+temp+'</tr>');
            }
          }
        },
        error: function(data){
          console.log(data);
        }
      });
    }
    retrieveMenu();

    $('#btnAdd').on('click',function(){
      var selectedSize = $('#inputSize').val();

      $.ajax({
        type: 'POST',
        url: '/size/create',
        data: {
          size : selectedSize
        },
        success : function(data){
          var d = data.file_content;
          console.log(data.file_content);
          retrieveMenu();
        },
        error : function(data){
        }
      });
    });



    var timeout = 10000;
    function poll(timeout){
      return setTimeout(function(){
        $.ajax({ url: '/menu/retrieveMenu', success: function(data){
          if (data[0] == 'success'){
            console.log(data);
          }
          poll();
        }, dataType: "json"});
      }, timeout);
    }
  });
</script>